@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.header span {
  font-family: 'Bebas Neue', sans-serif;
}
/* @keyframes background{
  100%{ background-size: 4000px 1000px; }
}
.App{
  background-image: url('./assets/Wave.svg');
  background-size: 2000px 1000px;
  background-position: -500px 0;
  animation: background 3s infinite linear;
} */
.link{
  font-family: 'Montserrat', sans-serif;
}
/* .App{
  height: 2000px;
} */